.gameController {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  overflow: hidden;
  z-index: 5;
}

.gameController div h2 {
  line-height: 60px;
  text-align: center;
  margin: 20px 0;
}

.gameController div p {
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}

.gameController button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 15vw;
  width: 70vw;
  background-color: forestgreen;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 25vw;
}

.gameController button:active,
.gameController button:focus {
  outline: none;
  background-color: dodgerblue;
}

@media (min-width: 768px) and (orientation: portrait) {

  .gameController button {
    width: 50vw;
    height: 10vh;
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  .gameController button {
    width: 35vw;
    height: 7vh;
    font-size: 22px;
  }
}