* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  letter-spacing: 2px;
}

*::selection {
  background-color: transparent;
}

h1,
h2,
h3,
p {
  cursor: default
}

@media (min-width: 568px) and (orientation: landscape) {
  #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  #root div {
    order: 2;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  #root div {
    order: 2;
  }
}